
/* ---- Configuration ---- */
configuration{
    modi: "drun,run";
    font: "CaskaydiaCove Nerd Font 8";
    icon-theme: "Papirus-Dark";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: " 🖥️  All ";
    display-run: " 🏃  Run ";
    display-window: " 🪟  Window";
    sidebar-mode: true;
}


@theme "catppuccin-mocha"
